:root {
  --body-width: 480px;
  --card-width: 420px;
  --card-height: 280px;
  --img-height: 226px;
  --img-height-expanded: 320px;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}

h1 {
  margin: 1rem 0;
  font-size: 4rem;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(45deg, rgb(201, 113, 12), rgb(109, 68, 6));
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
  width: var(--body-width);
  min-height: 100vh;
  background-color: #eee;
  flex-direction: column;

  &.noscroll {
    overflow: hidden;
  }
}

.card {
  margin: 1rem 0;
  width: var(--card-width);
  height: var(--card-height);
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0, 1, 0.95, 1.05);//為了讓他有回彈的效果
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    height: var(--img-height);
    object-fit: cover;//圖片等比縮放
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  h4 {
    padding: 0.8rem 1.2rem;
    padding-bottom: 0;
    margin: 0;
    font-size: 1.5rem;
    background-color: #fff;
    font-weight: 400;
    line-height: 2;
    letter-spacing: -0.5px;
  }

  .content-wrapper {
    overflow: hidden;
    height: 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;

    .content {
      overflow: auto;
      padding: 0 1.2rem;
      background-color: #fff;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &.active {
    transform: translateY(var(--data-offset-top)) scale(calc(480 / 420));
    transform-origin: 50% 0;//中心點50% 0
    border-radius: 0;

    h4 {
      padding-bottom: 0.8rem;
    }

    img {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: var(--img-height-expanded);
    }

    .content-wrapper {
      height: 100vh;
      opacity: 1;
      transition: 0.3s all ease-in;
    }
  }
}
