@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

body {
  overflow: hidden;
  background-color: #b62256;
  box-sizing: border-box;
}

h1 {
  padding: 1rem 0;
  font-size: 4rem;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(-10deg, #ec7ec8, #00ff0a);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
  animation: animateBg 15s linear infinite;
}

section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 6rem);
  background-image: linear-gradient(to bottom, #ff4b8b, #dff1ff);

  &::before {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: calc((100vh - 6rem) / 2);
    background-color: rgba(255, 255, 255, 0.1);//一點點的不透明 + 背景的filter blur製造玻璃感
    content: '';
    border-top: 1px solid rgba(255, 255, 255, 0.5);//多這條線就像有沒有被玻璃擋住
    backdrop-filter: blur(10px);//模糊 更佳毛玻璃
  }

  .color {
    position: absolute;
    filter: blur(200px);

    &:nth-child(1) {
      top: 0;
      width: 600px;
      height: 600px;
      background-color: #ff359b;
    }

    &:nth-child(2) {
      bottom: -150px;
      left: 100px;
      width: 500px;
      height: 500px;
      background-color: #fffd87;
    }

    &:nth-child(3) {
      right: 0;
      bottom: -50px;
      width: 300px;
      height: 300px;
      background-color: #00d2ff;
    }
  }
}

ul {
  position: relative;
  display: flex;

  li {
    position: relative;
    margin: 2rem;
    list-style: none;

    a {
      position: relative;
      top: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100px;
      height: 100px;
      font-size: 4rem;
      text-decoration: none;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 10px;
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(4px);
      transition: top 0.5s, z-index 0.5s, transform 0.5s;
      //-webkit-transform: top 0.5s, z-index 0.5s, transform 0.5s;//這行在css要//調不然會動不了
      transition-delay: 0.5s, 0s, 0s;

      &:hover {
        top: -60px;
        transform: translateY(60px);
        z-index: 3;
        transition-delay: 0s, 0.5s, 0.5s;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.5s;
        content: '';
        transform: skewX(45deg) translateX(150px);
      }

      &:hover::before {
        transform: skewX(45deg) translateX(-150px);
      }
    }
  }
}

@keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);//色相旋转
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
