@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #eaeef0;
}

.loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader span {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #eaeef0;
  border: 6px solid #eaeef0;
  -webkit-box-shadow: -8px -8px 15px white, -8px -8px 25px rgba(0, 0, 0, 0.15);
          box-shadow: -8px -8px 15px white, -8px -8px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.loader span i {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  background: -webkit-gradient(linear, left top, left bottom, from(#42abff), color-stop(#ff4f8b), to(#ffeb3b));
  background: linear-gradient(#42abff, #ff4f8b, #ffeb3b);
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
}

.loader span::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  -webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5), -5px -5px 15px white;
          box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5), -5px -5px 15px white;
}

.loader span::after {
  content: '';
  position: absolute;
  inset: 40px;
  background-color: #eaeef0;
  border: 3px solid #eaeef0;
  border-radius: 50%;
  -webkit-box-shadow: -8px -8px 25px white, 8px 8px 25px rgba(0, 0, 0, 0.25), inset 3px 3px 10px rgba(0, 0, 0, 0.15), inset -1px -1px 15px white;
          box-shadow: -8px -8px 25px white, 8px 8px 25px rgba(0, 0, 0, 0.25), inset 3px 3px 10px rgba(0, 0, 0, 0.15), inset -1px -1px 15px white;
}

.rocket {
  position: absolute;
  inset: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 10;
}

.rocket .fa-rocket {
  position: absolute;
  color: #ff518c;
  font-size: 3.5rem;
  -webkit-text-stroke: 2px #333;
  -webkit-animation: animateRocket 0.2s linear infinite;
          animation: animateRocket 0.2s linear infinite;
}

.rocket .fa-cloud {
  position: absolute;
  top: calc(35px * var(--i));
  left: calc(45px * var(--i));
  font-size: 2rem;
  color: #fffaff;
  -webkit-text-stroke: 2px #333;
  -webkit-animation: animateCloud 1s linear infinite;
          animation: animateCloud 1s linear infinite;
}

.rocket .fa-cloud:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.rocket .fa-cloud:nth-child(3) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.rocket .fa-cloud:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.rocket .fa-cloud:nth-child(5) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animateRocket {
  0%, 50%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
            transform: translate(0px, 0px) rotate(-45deg);
  }
  25% {
    -webkit-transform: translate(0px, -3px) rotate(-45deg);
            transform: translate(0px, -3px) rotate(-45deg);
  }
  75% {
    -webkit-transform: translate(0px, 3px) rotate(-45deg);
            transform: translate(0px, 3px) rotate(-45deg);
  }
}

@keyframes animateRocket {
  0%, 50%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
            transform: translate(0px, 0px) rotate(-45deg);
  }
  25% {
    -webkit-transform: translate(0px, -3px) rotate(-45deg);
            transform: translate(0px, -3px) rotate(-45deg);
  }
  75% {
    -webkit-transform: translate(0px, 3px) rotate(-45deg);
            transform: translate(0px, 3px) rotate(-45deg);
  }
}

@-webkit-keyframes animateCloud {
  0% {
    -webkit-transform: translateY(calc(-35 * 5px));
            transform: translateY(calc(-35 * 5px));
  }
  100% {
    -webkit-transform: translateY(calc(35 * 5px));
            transform: translateY(calc(35 * 5px));
  }
}

@keyframes animateCloud {
  0% {
    -webkit-transform: translateY(calc(-35 * 5px));
            transform: translateY(calc(-35 * 5px));
  }
  100% {
    -webkit-transform: translateY(calc(35 * 5px));
            transform: translateY(calc(35 * 5px));
  }
}
/*# sourceMappingURL=Day28.css.map */