body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #161623;
}

h1 {
  padding: 1rem 0;
  font-size: 4rem;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(-10deg, #ff2cdc, #fbff19);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
  -webkit-animation: animateBg 5s linear infinite;
          animation: animateBg 5s linear infinite;
}

@-webkit-keyframes animateBg {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animateBg {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 6rem);
}

section::before {
  content: '';
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#f0f));
  background-image: linear-gradient(#f00, #f0f);
  -webkit-clip-path: circle(30% at right 70%);
          clip-path: circle(30% at right 70%);
}

section::after {
  content: '';
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#e91e63));
  background-image: linear-gradient(#2196f3, #e91e63);
  -webkit-clip-path: circle(20% at 10% 10%);
          clip-path: circle(20% at 10% 10%);
}

section .container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .container .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 30px;
  width: 280px;
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

section .container .card:hover .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

section .container .card .content {
  padding: 20px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

section .container .card .content h2 {
  position: absolute;
  top: -75px;
  right: 15px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.05);
  font-weight: 900;
  pointer-events: none;
}

section .container .card .content h3 {
  z-index: 1;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

section .container .card .content p {
  margin-bottom: 3rem;
  color: #fff;
  font-style: 1.5rem;
  font-weight: 100;
}

section .container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  text-decoration: none;
  color: #000;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-weight: 400;
}
/*# sourceMappingURL=Day7.css.map */