html {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h2,
h3 {
  margin: 0.5rem;
  text-align: center;
}

p {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.wrap {
  padding-bottom: 200px;
}

.list1__false .menu {
  text-align: center;
  background-color: #444;
}

.list1__false .menu li {
  display: inline-block;
  padding: 10px 20px;
}

.list1__false .menu li:hover {
  background-color: #fa0;
}

.list1__false .menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.list1__true .menu {
  text-align: center;
  background-color: #444;
}

.list1__true .menu li {
  display: inline-block;
}

.list1__true .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list1__true .menu li a:hover {
  background-color: #fa0;
}

.list2__false .menu {
  text-align: center;
  background-color: #444;
}

.list2__false .menu li {
  position: relative;
  display: inline-block;
}

.list2__false .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list2__false .menu li a:hover {
  background-color: #fa0;
}

.list2__true .menu {
  text-align: center;
  background-color: #444;
}

.list2__true .menu li {
  position: relative;
  display: inline-block;
}

.list2__true .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list2__true .menu li a:hover {
  background-color: #fa0;
}

.list2__true .menu .subMenu {
  position: absolute;
  background-color: #f00;
}

.list3__false {
  margin-top: 200px;
}

.list3__false .menu {
  text-align: center;
  background-color: #444;
}

.list3__false .menu li {
  position: relative;
  display: inline-block;
}

.list3__false .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list3__false .menu li a:hover {
  background-color: #fa0;
}

.list3__false .menu li a:hover + .subMenu {
  display: block;
}

.list3__false .menu .subMenu {
  position: absolute;
  display: none;
  background-color: #f00;
}

.list3__true .menu {
  text-align: center;
  background-color: #444;
}

.list3__true .menu li {
  position: relative;
  display: inline-block;
}

.list3__true .menu li:hover {
  background-color: #f0a;
}

.list3__true .menu li:hover .subMenu {
  display: block;
}

.list3__true .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list3__true .menu li a:hover {
  background-color: #f0a;
}

.list3__true .menu .subMenu {
  position: absolute;
  display: none;
  width: 8em;
  background-color: #c0f;
}

.list3__true .menu .subMenu li {
  display: block;
}

.list3__better {
  margin-top: 100px;
}

.list3__better .menu {
  text-align: center;
  background-color: #444;
}

.list3__better .menu li {
  position: relative;
  display: inline-block;
}

.list3__better .menu li:hover {
  background-color: #f0a;
}

.list3__better .menu li:hover .subMenu {
  height: auto;
}

.list3__better .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list3__better .menu .subMenu {
  position: absolute;
  overflow: hidden;
  width: 8em;
  height: 0;
  background-color: #c0f;
}

.list3__better .menu .subMenu li {
  display: block;
}

.list3__other1 {
  margin-top: 100px;
}

.list3__other1 .menu {
  position: relative;
  text-align: center;
  background-color: #444;
}

.list3__other1 .menu li {
  display: inline-block;
}

.list3__other1 .menu li:hover {
  background-color: #f0a;
}

.list3__other1 .menu li:hover .subMenu {
  height: auto;
}

.list3__other1 .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list3__other1 .menu .subMenu {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: #c0f;
}

.list3__other1 .menu .subMenu li {
  display: inline-block;
}

.list3__other2 {
  margin-top: 100px;
}

.list3__other2 .menu {
  position: relative;
  text-align: center;
  background-color: #444;
}

.list3__other2 .menu li {
  display: inline-block;
}

.list3__other2 .menu li:hover {
  background-color: #f0a;
}

.list3__other2 .menu li:hover .subMenu {
  height: auto;
  -webkit-transform: perspective(30px) rotateX(0deg);
          transform: perspective(30px) rotateX(0deg);
  opacity: 1;
}

.list3__other2 .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list3__other2 .menu .subMenu {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: #c0f;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: perspective(30px) rotateX(-90deg);
          transform: perspective(30px) rotateX(-90deg);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.list3__other2 .menu .subMenu li {
  display: inline-block;
}

.list3__other2 .menu .subMenu li a {
  padding: 20px 30px;
}

.list3__other3 {
  margin-top: 100px;
}

.list3__other3 .menu {
  position: relative;
  text-align: center;
  background-color: #444;
}

.list3__other3 .menu li {
  display: inline-block;
}

.list3__other3 .menu li:hover {
  background-color: #f0a;
}

.list3__other3 .menu li:hover .subMenu {
  height: auto;
  -webkit-transform: perspective(30px) rotateX(0deg);
          transform: perspective(30px) rotateX(0deg);
  opacity: 1;
}

.list3__other3 .menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.list3__other3 .menu .subMenu {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: #c0f;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: perspective(30px) rotateX(-90deg);
          transform: perspective(30px) rotateX(-90deg);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.list3__other3 .menu .subMenu li {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */